# directories
results
.vscode
__MACOSX/
outputs*
tensorboard
multirun
pretrained
wandb
test
data

# Byte-compiled / optimized / DLL files
*.egg-info
__pycache__/
*.py[cod]
*.egg*
.DS_Store
.python-version

# Other
Dockerfile
*ipynb


